@font-face{
    font-family: 'ReadexPro-Regular';
    src: url(/employee_froms/static/src/fonts/ReadexPro-Regular.ttf);
}
@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);


@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
/* font-family: 'Lateef', serif; */

@font-face {
    font-family: 'uglyfont';
    src: url(/employee_froms/static/src/fonts/uglyfont.ttf);
}

@font-face {
    font-family: 'Danfo-Regular';
    src: url(/employee_froms/static/src/fonts/Danfo-Regular.ttf);
}

/* p{
    margin-right: 14px;
} */

span {
    padding-left: 10px !important;
    margin-left: 10px;
}

